*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(0, 31, 183);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-image: url(futsal.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.texto{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#cards{
    
    display: flex;


}

main a{
    text-decoration: none;
    color: black;
}

.card{
    text-align: center;
    width: 300px;
    height: 500px;
    margin: 30px;
    border-radius: 10px;
    transition: 0.5s;
    background-color: white;

}


.card p{
    position: relative;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    color: black;
}


main{
    align-items: center;
    display: flex;
    justify-content: center;
}

.card:hover{
    transform: scale(1.05);
    transition: 0.5s;
    width: 320px;
    box-shadow: 1px 10px 20px 10px rgba(0, 0, 0, 0.459);
}


main{

background-image: linear-gradient(to bottom, rgb(0, 5, 77), rgba(0, 0, 0, 0));
position: relative;



}


main div{
    position: relative;
    top: 50px;
    
}

.card-2{
    background-image: url(agv.png);
    background-size: cover;
    background-position: center;
    position: relative;
    
}


.card-3{
    background-image: url(code.png);
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.card:active{
    transform: scale(0.95);
    transition-duration: .5s;
}


