*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(0, 31, 183);
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-image: url(fut.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.texto{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#cards{
    
    display: flex;

}

.card{
    text-align: center;
    width: 300px;
    height: 500px;
    margin: 30px;
    border-radius: 10px;
    background-color: white;
    transition: 0.5s;
}


.card p{
    position: relative;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}


main{
    align-items: center;
    display: flex;
    justify-content: center;
}

.card:hover{
    transform: scale(1.05);
    transition: 0.5s;
    width: 320px;
}


main{

background-image: linear-gradient(to bottom, rgb(1, 8, 107), rgba(0, 0, 0, 0.089));



}

.card-2{
    background-image: url(agv.jpg);
    
}