*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(0, 30, 183);
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(to bottom, #2356ff, #464646);
}
.texto{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#cards{
    
    display: flex;

}

.card{
    text-align: center;
    width: 300px;
    height: 500px;
    margin: 30px;
    border-radius: 10px;
    background-color: white;
    transition: 0.5s;
}


.card p{
    position: relative;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}


main{
    align-items: center;
    display: flex;
    justify-content: center;
}

.card:hover{
    transform: scale(1.05);
    transition: 0.5s;
    background: linear-gradient(to bottom, #ffffff61, #6f6f6f);
    color: white;
}


main{

background-color: rgb(81, 162, 255);

}